<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG">
 <test name="Login">
     <classes>
         <class name="Execution.Login">  </class>
    </classes>
 </test>

 <test name="ForgotPassword">
     <classes>
        <class name="Execution.ForgotPassword">  </class>
    </classes>
 </test>
 
 <test name="HomePage">
     <classes>
	  <class name ="Execution.HomePage"> </class>
    </classes>
 </test>
 
 </suite>



